<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="urlrewrites" type="ThunderMain.URLRewriter.Rewriter, ThunderMain.URLRewriter, Version=1.0.783.30976, Culture=neutral, PublicKeyToken=7a95f6f4820c8dc3"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="api_key" value="544aa0620ffc18cb21229986fbf79123"/>
    <add key="base_uri" value="http://api.createsend.com/api/v3"/>
    <add key="ExactTargetAPIID" value="Colin.1065021"/>
    <add key="ExactTargetAPIPwd" value="welcome@2"/>
    <add key="netBankAccountNum" value="89994681"/>
    <add key="netBankStoreID" value="test"/>
    <add key="netBankStorePwd" value="test"/>
    <add key="ApiKey" value="160996503945227"/>
    <add key="Secret" value="58ea58646b233bdab01f73f843a40493"/>
    <add key="Application_ID" value="160996503945227"/>
    <add key="signupcode" value="160996503945227"/>
    <add key="pageTitleStart" value="Vancouver's Tazzling Daily Deal"/>
    <add key="pageSize" value="10"/>
    <add key="clienPageSize" value="10"/>
    <add key="SMTPServer" value="mail.tazzling.com"/>
    <add key="AdminEmail" value="noreply@tazzling.com"/>
    <add key="AdminPass" value="hinshou8"/>
    <add key="ServerTimeZone" value="+5"/>
    <add key="EmailSubjectForReferral" value="I think you should get your TastyGo"/>
    <add key="EmailSubjectForgetPassword" value="Your Password On TastyGo"/>
    <add key="EmailSubjectActivation" value="Your Activation link On TastyGo"/>
    <add key="EmailSubjectAffiliatePartner" value="New Affiliate Partner Request On TastyGo"/>
    <add key="EmailNewAccountCredentials" value="Your Account Credentials on Tastygo"/>
    <add key="EmailGiftDealForFriend" value="Gift from your friend on Tastygo"/>
    <add key="EmailSubjectRestaurantRequest" value="New Restaurant Owner Request On TastyGo"/>
    <add key="EmailSubjectMemberRequest" value="New Member Request On TastyGo"/>
    <add key="EmailSubjectForNewOrderForMember" value="Order Confirmation!"/>
    <add key="EmailSubjectForNewOrderForResturant" value="Your new order detail On TastyGo"/>
    <add key="EmailSubjectForNewOrderForAdmin" value="New Order place On TastyGo"/>
    <add key="EmailSubjectForNewOrderForFax" value="New Order place On TastyGo"/>
    <add key="EmailSubjectChageOrderStatus" value="Order status changed to "/>
    <add key="EmailSignature" value="TastyGo Support Team"/>
    <add key="YourSite" value="http://localhost:18606/tazzling"/>
    <add key="YourSecureSite" value="http://localhost:18606/tazzling/"/>
    <add key="GoogleAPIKey" value="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=AIzaSyB_6ZG7US6bwIzTVOOJU15CpBmxekMUVwg"/>
    <add key="GoogleKey" value="AIzaSyB_6ZG7US6bwIzTVOOJU15CpBmxekMUVwg"/>
    <add key="PortNumber" value="25"/>
    <add key="psigateXMLlinq" value="https://dev.psigate.com:7989/Messenger/XMLMessenger"/>
    <add key="Passphrase" value="psigate1234"/>
    <add key="StoreID" value="teststore"/>
    <add key="ThankyouUrl" value="http://localhost:18606/tazzling/takeout/giftcard_thankyou.aspx"/>
    <add key="ReturnUrl" value="http://localhost:18606/tazzling/takeout/checkout_step4.aspx"/>
    <add key="NoThanksURL" value="http://localhost:18606/tazzling/takeout/giftcard_nothanks.aspx"/>
    <add key="RefferalImagePath" value="/tazzling/takeout/Images/Referral/"/>
    <add key="tax" value="5"/>
    <add key="CommissionFee" value="10"/>
    <add key="PhoneCallKey" value="4c2f475b-9b15-4788-b20b-c6f65b395366"/>
    <add key="PhoneCallerID" value="6042951777"/>
    <add key="PhoneCallerIDName" value="Sher Azam"/>
    <add key="http:" value="http:"/>
    <add key="https:" value="http:"/>
    <add key="SearchDistance" value="20"/>
    <add key="com.optimalpayments.webservices.v1" value="https://webservices.optimalpayments.com/creditcardWS/CreditCardService/v1"/>
    <add key="com.optimalpayments.test.webservices.v1" value="https://webservices.test.optimalpayments.com/creditcardWS/CreditCardService/v1"/>
  </appSettings>
  <connectionStrings>
    <add name="CRMConnectionString" connectionString="Data Source=DESKTOP-V93S4MO\SQLSERVER2008;Initial Catalog=Tazzling;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <!--<add name="CRMConnectionString" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Tastgo;Data Source=.\SqlExpress"/>-->
  </connectionStrings>
  <system.web>
    <urlrewrites>
      <rule>
        <url>/national/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/national/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/national/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/national/(.*)</url>
        <rewrite>/default.aspx?cName=national&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/National/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/National/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/National/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/National/(.*)</url>
        <rewrite>/default.aspx?cName=National&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/oakville_burlington/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/oakville_burlington/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/oakville_burlington/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/oakville_burlington/(.*)</url>
        <rewrite>/default.aspx?cName=oakville_burlington&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/Oakville_Burlington/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/Oakville_Burlington/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/Oakville_Burlington/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/Oakville_Burlington/(.*)</url>
        <rewrite>/default.aspx?cName=Oakville_Burlington&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/york_region/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/york_region/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/york_region/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/york_region/(.*)</url>
        <rewrite>/default.aspx?cName=York_Region&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/York_Region/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/York_Region/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/York_Region/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/York_Region/(.*)</url>
        <rewrite>/default.aspx?cName=York_Region&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/halifax/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/halifax/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/halifax/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/halifax/(.*)</url>
        <rewrite>/default.aspx?cName=Halifax&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/Halifax/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/Halifax/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/Halifax/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/Halifax/(.*)</url>
        <rewrite>/default.aspx?cName=Halifax&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/hamilton/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/hamilton/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/hamilton/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/hamilton/(.*)</url>
        <rewrite>/default.aspx?cName=Hamilton&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/Hamilton/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/Hamilton/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/Hamilton/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/Hamilton/(.*)</url>
        <rewrite>/default.aspx?cName=Hamilton&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/vancouver/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/vancouver/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/vancouver/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/vancouver/(.*)</url>
        <rewrite>/default.aspx?cName=Vancouver&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/Vancouver/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/Vancouver/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/Vancouver/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/Vancouver/(.*)</url>
        <rewrite>/default.aspx?cName=Vancouver&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/toronto/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/toronto/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/toronto/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/toronto/(.*)</url>
        <rewrite>/default.aspx?cName=Toronto&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/Toronto/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/Toronto/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/Toronto/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/Toronto/(.*)</url>
        <rewrite>/default.aspx?cName=Toronto&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/calgary/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/calgary/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/calgary/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/calgary/(.*)</url>
        <rewrite>/default.aspx?cName=Calgary&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/Calgary/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/Calgary/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/Calgary/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/Calgary/(.*)</url>
        <rewrite>/default.aspx?cName=Calgary&amp;dealTitle=$1</rewrite>
      </rule>
      <rule>
        <url>/r/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/r/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/r/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.otf|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/r/(.*)</url>
        <rewrite>/default.aspx?uid=$1</rewrite>
      </rule>
      <rule>
        <url>/JS/(.*)(.js)</url>
        <rewrite>/Js/$1.js</rewrite>
      </rule>
      <rule>
        <url>/CSS/(.*)(.css)</url>
        <rewrite>/CSS/$1.css</rewrite>
      </rule>
      <rule>
        <url>/([/a-zA-Z0-9/_-]*)(.aspx|.gif|.axd|.png|.GIF|.PNG|.jpg|.JPG|.JPEG|.jpeg|.css|.js|.CSS|.JS|.ico|.ICO|.xml|.XML|.pdf|.PDF|.ttf|.eot|.woff|.WOFF|.otf|.svg|.SVG|.ashx|.ASHX|.html|.HTML)+</url>
        <rewrite>/$1$2</rewrite>
      </rule>
      <rule>
        <url>/([a-zA-Z0-9_\.]*)$</url>
        <rewrite>/default.aspx?cName=$1</rewrite>
      </rule>
    </urlrewrites>
    <sessionState mode="InProc" timeout="3600" cookieless="false"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="SoapBinding" closeTimeout="00:35:00" openTimeout="00:35:00" receiveTimeout="00:35:00" sendTimeout="00:35:00">
          <security authenticationMode="UserNameOverTransport"/>
          <textMessageEncoding messageVersion="Soap12WSAddressingAugust2004">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="655360000"/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="SoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservice.s4.exacttarget.com/Service.asmx" binding="customBinding" bindingConfiguration="SoapBinding" contract="ExactTargetAPI.Soap" name="Soap"/>
    </client>
  </system.serviceModel>
</configuration>