/*-------------------------------------------------------------------------------------------------------------------- Basic Style -------------------*/
body {margin:0px; padding:0px; color:#030303; font:12px/150% Arial, Helvetica, sans-serif; background-color:#fff;}
a{outline:none;}
.clear {clear:both;}
.required {color:red}

#pagezone {width:1006px; margin:0px auto;}
#pagezone1 {width:1006px; margin:0px auto;}
#pagezone_order {width:1006px; margin:0px auto;}
#topZone {clear:both; width:1006px; margin:0px auto;}
#logoZone {clear:both; height:125px;}
#logo {float:left; width:252px;}
#logotext {float:left; width:450px; margin-top:25px; text-align:left }
#logotext div span {padding-right:10px;}
#logotext div span input {margin-left:5px;}
#text {float:right; padding-right:30px; text-align:right; margin-top:45px;}
#text a {text-decoration:underline; color:#5A60AE;}
#text #langZone {margin-bottom:5px;}
#text #registerZone {margin-top:5px; color:#FE7117;}
#text #registerZone img {vertical-align:middle; padding-right:10px;}
#text #registerZone a {color:#FE7117; text-decoration:none;}
#menuZone {clear:both; width:100%; height:45px;}
#menuZone .menuLeft {width:21px; height:45px; background:url(../../takeout/images/menu_l.gif) no-repeat; float:left;}
#menuZone .menuMiddle {background:url(../../takeout/images/MenuNormal2.jpg) ; 	 float:left; line-height:41px; color:#5C5656; font-size:16px;}
#menuZone .menuHover {background:url(../../images/MenuNormal2.jpg); text-align:center; width:172px;}
#menuZone .menuHover:hover{background:url(../../images/menuMouseHower2.jpg); text-align:center; width:172px;}

.SherAzam a:link			/* menu on mouse-over  */			
    {    
		background-image: url(../Images/menuSubMenu.jpg);
		background-repeat:repeat-x; 
		background-color:Black;   
    }	

.SherAzam a:hover			/* menu on mouse-over  */			
    {    
		background-image: url(../Images/menuSubMenu.jpg);
		background-repeat:repeat-x; 
		background-color:Black;   
    }	
	

#menuZone .menuMiddle table{width:100%;}
#menuZone .menuMiddle table td{text-align:center;vertical-align:top;}
#menuZone .menuMiddle table td .menu_s {padding:0px; height:51px; width:3px; background:url(../../takeout/images/menuSpliter.jpg) no-repeat;}
#menuZone .menuMiddle table td a{text-decoration:none;}

#menuZone .menuMiddle ul li {float:left; width:100%;}

/*
#menuZone .menuMiddle ul {list-style-type:none; padding:0px; margin:0px;}
#menuZone .menuMiddle ul li {float:left; padding:0 24px 0 25px;}
#menuZone .menuMiddle ul li.menu_s {padding:0px; background:url(../../takeout/images/menu_s.gif) no-repeat; width:6px; height:45px;}
#menuZone .menuMiddle ul li a {text-decoration:none; color:#595854;}*/

#menuZone .menuRight {width:21px; height:45px; background:url(../../takeout/images/menu_r.gif) no-repeat; float:right;}
#mainZone{clear:both; min-height:250px; width:1006px; margin:0 auto;}
#mainZone1 {clear:both; min-height:250px; width:1070px; margin:0 auto;}
#mainZone_order {clear:both; min-height:250px; width:1045px; margin:0 auto;}
#footerZone, #footerZone1 {clear:both; margin-top:20px;}
#footerZone1 {margin-top:0px;}
#footerWrapper{text-align:center}
#footerWrapper #footerLogo {width:100px; height:80px; text-align:left; padding-left:41px;
	 float:left; background:url(Images/logo_smaller.gif) 100px 8px no-repeat;}
#footerWrapper #footerText {margin-top:15px; float:left; text-align:left}
#footerWrapper #footerText div.link {margin-bottom:5px; color:#2894C5; text-align:left; float:left}
#footerWrapper #footerText a {padding:0 10px; color:#2894C5; text-decoration:none;}
#footerWrapper #footerText div.copyright {padding-left:40px; padding-top:15px; text-align:center; color:#959493;}
#footerImage{float:right; padding-right:30px;}